@charset "UTF-8";

/*
Paleta de Cores

Roxo Escuro: #140B24
Marrom: #7F5F5D
Claro: #E5ECF4

TDB:

Até 768px
P/ Cel e pequenas telas

De 769px a 1200px
P/ tablets e Desktops

Acima de 1201px
Para telas grandes
*/



@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #140B24,#7F5F5D);
    }
    section#login{
        width: 80vw;
    }

    section#login div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-position: center top;
    }

    section#login div#form{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 993px) {
    body{
        background-image: linear-gradient(to bottom, #140B24,#7F5F5D,#E5ECF4 );
    }

    section#login{
        width: 950px;
    }
    
    section#login div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login div#form{
        float: left;
        width: 50%;
    }
    
    div#form h1{
        font-size: 2em;
    }
    div#form p{
        font-size: 1.2em;
    }
}